<style type="text/css">
	.infinity {
	  position: fixed;
	  top: 0px;
	  right: auto;
	  z-index: 999;
	  font-size: 22px;
	}
</style>

<h1>Cooper DB</h1>
<app-search class="infinity"></app-search>

<ul *ngIf="search" [@listStagger]="search">
	<h1>Results:</h1>
	<li *ngFor="let item of search">
		<a routerLink="/details/{{item.id}}">{{item.name}}</a>
		<ul>
			<li>{{item.type}}</li>
		</ul>
	</li>
</ul>

<ul *ngIf="!search" [@listStagger]="users$">
	<li *ngFor="let user of users$">
		<a routerLink="/details/{{user.id}}">{{user.name}}</a>
		<ul>
			<li>{{user.type}}</li>
		</ul>
	</li>
</ul>