<style type="text/css">
	.infinity {
	  position: fixed;
	  top: 0px;
	  right: auto;
	  z-index: 999;
	  font-size: 22px;
	}
</style>
<app-search class="infinity"></app-search>
<br>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132596017-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132596017-1');
</script>
<h1>Cooper DB</h1>
<div>
<button (click)="home()" class="fifth"><strong>home</strong></button>
<button (click)="virusesFunc()" class="fifth"><strong>viruses</strong></button>
</div>
<ul *ngIf="search" [@listStagger]="search">
	<h1>Results:</h1>
	<li *ngFor="let item of search">
		<a routerLink="/details/{{item.id}}">{{item.name}}</a>
		<ul>
			<li>{{item.type}}</li>
		</ul>
	</li>
</ul>

<ul *ngIf="viruscheck" [@listStagger]="users$">
	<li *ngFor="let virus of viruses">
		<a routerLink="/details/{{virus.id}}">{{virus.name}}</a>
		<ul>
			<li>{{virus.type}}</li>
		</ul>
	</li>	
</ul>

<ul *ngIf="!search && !viruscheck" [@listStagger]="users$">
	<li *ngFor="let user of users$">
		<a routerLink="/details/{{user.id}}">{{user.name}}</a>
		<ul>
			<li>{{user.type}}</li>
		</ul>
	</li>
</ul>
