<h1>Description</h1>
<p>
Darwin is a Microbiological tool in the making that is made to be used with Biological sciences and will have many new viruses, bacterias, fungus and protozoans added. The current version of Darwin supports only a fraction of the viruses etc.. that are needed for the final product. 
</p>
<h1>What can I do with this?</h1>
<p>
You can participate in discussions about different viruses, fungus, bacterias and protozoans. You can also make your own posts that people can interact with and discuss. The viewing of posts and bacterias is currently unorganized, we will have to think of some way to organize all the items. 
</p>
<h1>Discord Bot</h1>
<p>Darwin-Bot is a Microbiological tool in the making that is made to be used with Biological sciences and will have features added to make it better Darwin was made as a substitute to using big bulk textbooks and to simply use the modern tools given to us to work on Microbial data.<br>You can find the bot <a href="https://github.com/Deltasiv/Darwin-Bot">here</a>.
<br>
If you want to join our discord channel to contact us with ideas & bugs you can join <a href="https://discord.gg/MHXXDXA">here</a>.
</p>
<h1>Contributing</h1>
<p>If you wish to help on this project you can simply make changes to the file and post your changes and if they are appreciated we will merge them to the Master branch. Please read the contributors.md file for more information. If you have contributed to this work known as Darwin you will be credited to the file of contributors. :) 
<br>You can contribute here -> <a href="https://github.com/Deltasiv/Darwin">Darwin</a></p>
<h1>Github</h1>
<h2><a href="https://github.com/Deltasiv">Deltasiv</a></h2>
<h1>I found a bug!</h1>
<p>If you found a bug you can expose the bug by opening your issue <a href="https://github.com/Deltasiv/Darwin/issues">here</a>. Or you can just go to our contact page to expose the bug!<br>
If you do open your issues on github or in the contact page that would mean a lot to us!</p>
<meta name="google-site-verification" content="9dnIKZq9l3aP2R8z4qxXonZ3qnQZdAPSplXk3uai03s" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132596017-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132596017-1');
</script>