<h1>Discord Bot</h1>
<p>Darwin-Bot is a Microbiological tool in the making that is made to be used with Biological sciences and will have features added to make it better Darwin was made as a substitute to using big bulk textbooks and to simply use the modern tools given to us to work on Microbial data.<br>You can find the bot <a href="https://github.com/Deltasiv/Darwin-Bot">here</a>.
</p>
<h1>Contributing</h1>
<p>If you wish to help on this project you can simply make changes to the file and post your changes and if they are appreciated we will merge them to the Master branch. Please read the contributors.md file for more information. If you have contributed to this work known as Darwin you will be credited to the file of contributors. :) 
<br>You can contribute here -> <a href="https://github.com/Deltasiv/Darwin">Darwin</a></p>
<h1>Github</h1>
<h2><a href="https://github.com/Deltasiv">Deltasiv</a></h2>
<h1>I found a bug!</h1>
<p>If you found a bug you can expose the bug by opening your issue <a href="https://github.com/Deltasiv/Darwin/issues">here</a><br>
If you do open your issues on github that would mean a lot to us!</p>