<style type="text/css">
	input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<h1>Submit Your Bugs & Ideas</h1>
<div class="container">
  <form action="action_page.php">

    <label for="fname">Title</label>
    <input type="text" id="title" name="title" placeholder="Your title.." [(ngModel)]="title">

    <label for="subject">Description</label>
    <textarea id="description" name="description" placeholder="Write something.." style="height:200px" [(ngModel)]="description"></textarea>

    <input type="submit" value="Submit" (click)="Submit(title, description)">
	<div *ngIf="transaction">
	<h5 *ngIf="notitle" style="color: red;">Your title or description is empty.</h5>
	<h5 *ngIf="toolong" style="color: red;">Your title or description is too long.</h5>
	<h5 *ngIf="!signedin" style="color: red;">You need to be signed in to post.</h5>
	<h5 *ngIf="wait" style="color: red;">You need to wait 10 minutes to post again.</h5>
	<h5 *ngIf="!notitle && !toolong && !wait && signedin" style="color: green;">Your post has been posted!</h5>
</div>
  </form>
</div>
<meta name="google-site-verification" content="9dnIKZq9l3aP2R8z4qxXonZ3qnQZdAPSplXk3uai03s" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132596017-1"></script>
<meta name="description" content="If you wish to help on this project you can simply submit your ideas and bugs here.">
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132596017-1');
</script>