<nav>
	<ul>
		<li>
			<a routerLink="home" routerLinkActive="activated" 
			[routerLinkActiveOptions]="{exact: true}">
				<i class="material-icons">supervised_user_circle</i>
			</a>
		</li>
		<li>
			<a routerLink="posts" routerLinkActive="activated"
			[routerLinkActiveOptions]="{exact: true}">
				<i class="material-icons">message</i>
			</a>
		</li>
		<li>
			<a routerLink="teamwork" routerLinkActive="activated"
			[routerLinkActiveOptions]="{exact: true}">
				<i class="material-icons">map</i>
			</a>
		</li>
		<li>
			<a routerLink="settings" routerLinkActive="activated"
			[routerLinkActiveOptions]="{exact: true}">
				<i class="material-icons">settings</i>
			</a>
		</li>
		<li>
			<a routerLink="contact" routerLinkActive="activated"
			[routerLinkActiveOptions]="{exact: true}">
				<i class="material-icons">feedback</i>
			</a>
		</li>
		<li>
			<a routerLink="about" routerLinkActive="activated"
			[routerLinkActiveOptions]="{exact: true}">
				<i class="material-icons">new_releases</i>
			</a>
		</li>
	</ul>
</nav>
