nav {
    background: #5893d4;
    height: 100%;
    position: fixed;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {

            a {
                color: #fff;
                padding: 20px;
                display: block;
            }

            .activated {
                background-color: #070d59;
            }
        }
    }
    
}