<br>
<h1>Posts</h1>
<style type="text/css">
.button {
  font-size: 28px;
  position: absolute;
  top: 0px;
  right: auto;
  z-index: 999;
}
	.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

img{
	border-radius: 50%;
	width: 5%;
}
</style>

<div *ngIf="registered">
	<button (click)="btnClick();" class="button fifth"><strong>Post</strong></button>
</div>
<div *ngIf="!registered">
	<button style="font-size: 20px;" class="button fifth"><strong>Sign in to post</strong></button>
</div>

<ul [@listStagger]="posts$">
	<li *ngFor="let post of posts$">
		<a routerLink="/details/{{post.id}}">{{post.subject}}<img src="{{post.image}}"></a>
		<p style="font-size: 10px;">{{post.date}}</p>
		<p *ngIf="post.message.length >= 70">{{post.message.substring(0,70)}}...</p>
		<p *ngIf="post.message.length < 70">{{post.message.substring(0,70)}}</p>
	</li>
</ul>	
<meta name="google-site-verification" content="9dnIKZq9l3aP2R8z4qxXonZ3qnQZdAPSplXk3uai03s" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132596017-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132596017-1');
</script>