<div *ngIf="user$">
	<li *ngFor="let us of user$">
	<h1>{{us.name}}</h1>
	<style type="text/css">
		.container {
		  width: 100%;
		  padding: 10px 10px 20px 10px;
		  border: 1px solid #BFBFBF;
		  background-color: white;
		  box-shadow: 10px 10px 5px #aaaaaa;
		}
	</style>
	<div>
		<ul [@listStagger]="us" class="container">
			<div *ngIf="us.type">
				<li><strong>Type:</strong> <p>{{us.type}}</p></li>
				<li><strong>Specie:</strong> <p>{{us.specie}}</p></li>
			</div>
			<div *ngIf="us.disease">
				<li><strong>Disease:</strong> <p>{{us.disease}}</p></li>
			</div>
			<div *ngIf="us.description">
				<li><strong>Description:</strong><p>{{us.description}}</p></li>
			</div>
		</ul>
		<ul class="container">
			<h1>Discussion</h1>
		</ul>
	</div>
</div>