<div *ngIf="user$">
	<li *ngFor="let us of user$">
	<h1>{{us.name}}</h1>
	<style type="text/css">
		.all{
			overflow:auto;
		}
		.container {
		  width: 40%;
		  padding: 10px 10px 20px 10px;
		  border: 1px solid #BFBFBF;
		  background-color: white;
		  box-shadow: 10px 10px 5px #aaaaaa;
		  float: left;
		}
		.chat {
		  width: 50%;
		  padding: 10px 10px 20px 10px;
		  border: 1px solid #BFBFBF;
		  background-color: white;
		  box-shadow: 10px 10px 5px #aaaaaa;
		  float:right;
		}
	</style>
	<div>
		<ul [@listStagger]="us" class="container">
			<div *ngIf="us.type">
				<li><strong>Type:</strong> {{us.type}}</li>
				<li><strong>Specie:</strong> {{us.specie}}</li>
			</div>
			<div *ngIf="us.disease">
				<li><strong>Disease:</strong> {{us.disease}}</li>
			</div>
			<div *ngIf="us.description">
				<li><strong>Description:</strong>{{us.description}}</li>
			</div>
		</ul>
		<ul class="chat">
			<h1>Discussion</h1>
		</ul>
	</div>
</div>