<meta name="description" content="The detail page for posts and users">
<div>
	<li>
	<h1 style="color: #070d59;">{{user$[0].name}}</h1>
	<style type="text/css">
		.container {
		  width: 100%;
		  padding: 10px 10px 20px 10px;
		  border: 1px solid #070d59;
		  background-color: white;
		  box-shadow: 10px 10px 5px #aaaaaa;
		}
		.noshadow {
		  width: 100%;
		  padding: 0px 0px 0px 0px;
		  border: 0px solid #BFBFBF;
		  background-color: white;
		  box-shadow: 0px 0px 0px #aaaaaa;
		}
		input[type=text] {
		  width: 100%;
		  padding: 12px 20px;
		  margin: 8px 0;
		  box-sizing: border-box;
		}

		input[type=text], select {
		  width: 100%;
		  padding: 12px 20px;
		  margin: 8px 0;
		  display: inline-block;
		  border: 1px solid #ccc;
		  border-radius: 4px;
		  box-sizing: border-box;
		}

		input[type=submit] {
		  width: 100%;
		  background-color: #5893d4;
		  color: white;
		  padding: 14px 20px;
		  margin: 8px 0;
		  border: none;
		  border-radius: 4px;
		  cursor: pointer;
		}

		input[type=submit]:hover {
		  background-color: #1f3c88;
		}

		div {
		  border-radius: 5px;
		  background-color: white;
		  padding: 20px;
		}
		.hindenberg{
			display: none;
			visibility: hidden;
		}
		img{
			border-radius: 50%;
			width: 5%;
		}

	</style>
	<div>
		<ul class="container" *ngIf="user$[0].subject">
			<li><strong>Title</strong><h2>{{user$[0].subject}}</h2></li>
			<li><strong>Description</strong><p style="font-size: 15px;">{{user$[0].message}}</p></li>
		</ul>
		<ul *ngIf="user$[0].type" [@listStagger]="user$[0]" class="container">
			<div *ngIf="user$[0].type">
				<li><strong>Type:</strong> <p>{{user$[0].type}}</p></li>
				<li><strong>Specie:</strong> <p>{{user$[0].specie}}</p></li>
			</div>
			<div *ngIf="user$[0].disease">
				<li><strong>Disease:</strong> <p>{{user$[0].disease}}</p></li>
			</div>
			<div *ngIf="user$[0].description">
				<li><strong>Description:</strong><p>{{user$[0].description}}</p></li>
			</div>
		</ul>
		<ul class="container">
			<h1 style="color: #070d59;">Discussion</h1>
			<div *ngIf=posts>
			<div *ngFor="let post of posts" [@listStagger]="posts">
				<ul class="container noshadow" *ngIf="post.name != user$[0].name || user$[0].subject">
					<li><img src="{{post.image}}"><strong>{{post.name}}</strong> {{post.date}}<p>{{post.message}}</p></li>
				</ul>
			</div>
			</div>
			<div *ngIf="registered">
				<div>
				  <form action="">
				  	<input class="hindenberg" type="text" id="name" name="name" value="{{name}}">
				    <input class="hindenberg" type="text" id="image" name="image" value="{{img}}">
				    <label for="lname">Post</label>
				    <input type="text" id="post" name="post" placeholder="Your message" [(ngModel)]="message">
				  
				    <input type="submit" value="Submit" (click)="pushMsg()">
				    <div *ngIf="message_sent && !wait">
				    	<h5>Posted</h5>
				    </div>
				    <div *ngIf="no_message && !wait">
				    	<h5 style="color: red;">Your message is empty</h5>
				    </div>
				    <div *ngIf="wait">
				    	<h5 style="color: red;">Wait 5 minutes to post</h5>
				    </div>
				  </form>
				</div>
			</div>
			<div *ngIf="!registered">
				<h4>You need to be signed in to post</h4>
			</div>
		</ul>
	</div>
</div>