<style type="text/css">
	.infinity {
	  position: absolute;
	  top: 3px;
	  right: 16px;
	  z-index: 999;
	  font-size: 22px;
	   width: auto;
	   height: auto;
	}
	.unfinity {
	  position: absolute;
	  top: 70px;
	  right: 16px;
	  z-index: 9999;
	  font-size: 22px;
	   width: 25%;
	}
	.img {
	  border-radius: 50%;
	  width: 5%;
	}

</style>
<script type="text/javascript">
</script>
<div *ngIf="!registered">
	<button (click)="socialSignIn('google')" class="infinity fifth"><strong>Sign in</strong></button>
</div>
<div *ngIf="registered">
	<a href="/home"><button (click)="signout()" class="infinity fifth"><strong>Sign out</strong></button></a>
	<h5 class="infinity">Welcome {{name}}</h5>
</div>        

<!-- <button (click)="socialSignIn('facebook')" class="button1">Sign in with Facebook</button>
<button (click)="socialSignIn('google')" class="button1">Sign in with Google</button>   --> 